<ion-tabs class="tabs-icon-top">
  <ion-tab title="One" icon-on="ion-ios7-sunny" icon-off="ion-ios7-sunny-outline" href="#/tab/one">
    <ion-nav-view name="tab-one"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Two" icon-on="ion-ios7-partlysunny" icon-off="ion-ios7-partlysunny-outline" href="#/tab/two">
    <ion-nav-view name="tab-two"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Three" icon-on="ion-ios7-rainy" icon-off="ion-ios7-rainy-outline" href="#/tab/three">
    <ion-nav-view name="tab-three"></ion-nav-view>
  </ion-tab>
</ion-tabs>
